
/* ===============================================
/*                  Cards Styling
/* =============================================== */

div.cms-content-block {
    margin-bottom: 10px;
}

/* CMS Card Body */
div.cms-card {
    margin-bottom: 20px;
}
p.cms-card-body {
    margin: 20px;
}
div.cms-card-footer {
    margin: 20px;
    font-size: 10px;
    font-color: #666;
}


/* CMS Card Image */
div.cms-card-image img {
    border: 1px solid #000;
    max-width: 90%;
}
div.cms-card-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


/* ===============================================
/*                  Gallery Styling
/* ===============================================  */

/* CMS Gallery Block */
div.cms-gallery-block {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

div.cms-gallery-block div.cms-card {
    flex: 0 0 auto;
    max-width: 100%;
    margin-right: 20px;
}

div.cms-gallery-block div.cms-card:last-child {
    margin-right: 0px;
}