div.cms-content-block {
    margin-bottom: 10px;
}

/* CMS Card Image */
div.cms-card-image img {
    border: 1px solid #000;
}
div.cms-card-image {
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

/* CMS Card Body */
div.cms-card {
    margin-bottom: 20px;
}
p.cms-card-body {
    margin: 20px;
}
div.cms-card-footer {
    margin: 20px;
    font-size: 10px;
    font-color: #666;
}
